$primary-text: #fff;
/*-------STRUCTURE--------------------------------------*/
body {
    margin:0;
    font-family: Open Sans Condensed, sans-serif;
}
/*---------HEADER--------*/
.heading{
    background: black;
    position: fixed;
    width:100%;
    z-index: 10;
}
.name p{
    font-size:2rem;
}
.name > *{
    margin:0;
}
.nav-buttons{
    line-height: 6rem;
}
.nav p{
    margin:0;
}
.nav h6{
    margin:0;
}
/*---------------------*/

/*------MAIN-BODY------*/
.main-body{
    color: $primary-text;
    background-image: url("programming-wallpaper-1920x1080.jpg");
    background-repeat: no-repeat;
    // filter: grayscale(70%);
}
.bio{
    background-origin: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 5%;
    // background-image: url("pexel-code.jpeg");
    filter: grayscale(100%);
}
.bio-text{
    font-size: 3rem;
}
.bio-text p{
    padding-top:25%;
    padding-bottom:25%;
}
.text-box{
    background-image: radial-gradient(rgba(128,128,128,.6), rgba(169,169,169,.6));
    border-radius: 50%;
    height:300px;
    width:300px;
    margin:auto;
}
.outline{
    outline: 2px solid red;
}
.my-pic{
    position: relative;
    height:300px;
    border-radius: 40%;
    vertical-align: middle;
    left:0px;
    transition: 4s ease-in;
    transform: rotate(-360deg);
    animation: spin-to-win2 2s;
}
.my-pic:hover{
    animation:spin-to-win 2s;
    transform: rotate(360deg);
}
@keyframes spin-to-win{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes spin-to-win2{
    from{transform:rotate(360deg);}
    to{transform:rotate(0deg);}
}
.bio-pic{
    margin-top:1.8%;
}
.slide{
    background-origin: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.rounded-border{
    border-radius: 5px;
}
.project-1{
    background-image: url("durotar-thumb2.png");
    overflow:hidden;
}
.project-2{
    background-image: url("snow-mountain-thumb2.png");
    overflow:hidden;
}
.project-3{
    background-image: url("flamingo-thumb2.png");
    overflow:hidden;
}
.project-4{
    background-image: url("sunset-thumb2.png");
    overflow:hidden;
}
.slide-pos{
    position:relative;
    left:0px;
    transition-property: left;
    transition-duration: 2s;
}
.animate:hover .slide-trans{
    left:2000px;
}
.contact{
    background: black;
}
/*---------------------*/
/*----------------------------------------------------------------------*/
/*-------FORMAT--------*/
header div > *{
    margin:0;
}
.lh{
    line-height: 2em;
}
.ilb{
    display:inline-block;
}
.m-lr-5{
    margin-left: 1.5em;
    margin-right:1.5em;
}
.p-0{
    padding:0;
}
.p-1{
    padding: 1em;
}
.p-l-1{
    padding-left:1em;
}
.m-t-1{
    margin-top: 1em;
}
.m-t-15{
    margin-top:10%;
}
.skills{
    // padding-left: 20rem;
    margin:5% auto;
    background-color: rgba(128,128,128,.6);
}
.thumbnail-box{
    width:30%;
    // margin-top:5%;
}
.img-box{
    width:100%;
}
.m-tb-auto{
    margin-top: 2%;
    margin-bottom: 2%;
}
.pos-r{
    position: relative;
}
/*---------------------*/
/*--------FONTS--------*/
.text-white{
    color: $primary-text;
}
.fs{
    font-size: 2em;
}
/*---------------------*/
/*-------EFFECTS-------*/
.pointer p{
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
/*---------------------*/
/*did this work?*/